.user-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.user {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}