.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img {
    height: 50%;
    width: 50%;
}

.home-heading {
    color: black;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Times New Roman';
}