.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(15, 15, 13), rgb(255, 255, 255));
    height: 10vh;
  }
  
  @media (max-width: 575px) {
    .header-container {
      padding: 15px;
    }
  }
  
  .logo-and-title-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .title {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
  }
  
  .route-link {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
  }
  
  @media (max-width: 767px) {
    .route-link {
      margin-left: 10px;
    }
  }